<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Home - SnippetBox</title>
    </head>
    <body>
        <main>
            <h2>Latest Snippet</h2>
            <p>There's nothing to see here yet!</p>
    
        </main>
        <footer>Powered by <a href="https://golang.org/">GO</a></footer>
    </body>

</html>